.button {
  @apply flex justify-center items-center box-border transition
		w-full min-h-[50] rounded font-bold py-3 px-4
		disabled:opacity-50 disabled:pointer-events-none hover:opacity-75;

  &__default {
    @apply bg-primary text-white;
  }

  &__primary {
    @apply bg-primary text-white;
  }

  &__error {
    @apply bg-error;
  }

  &__warning {
    @apply bg-warning;
  }

  &__info {
    @apply bg-info;
  }

  &__success {
    @apply bg-success;
  }

  &__prefix-icon {
    @apply flex items-center mr-1;
  }

  &__suffix-icon {
    @apply flex items-center ml-1;
  }
}
